.app{
   min-height: 100vh;
  width: 100vw;
}
.dark{
background-color: rgb(20, 20, 20);
color: aliceblue;
}

.light{
    background-color: white;
   
    color: black
}


.light button{
    color:  rgb(20, 20, 20);
    border: 2px solid  rgb(20, 20, 20);
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(20, 20, 20);
    padding: 5px 10px;
    cursor: pointer;
    
}

.dark button{
    border: 2px solid  rgb(20, 20, 20);
    border-radius: 10px;
    box-shadow: 0 0 2px white;
    color : black;
    padding: 5px 10px;
    cursor: pointer;

}

.NewItem{
    padding: 20px 10px;
}

.Filter{
    padding: 20px 10px;
}
